---
---
/*
	Custom SCSS for CVWS.NET Website
	By Josh Keegan 09/08/2014
 */

$themeColour: #2e7bcf;
$themeContrastColour: #fff;

/* Links that shouldn't be styled as links */
a.noLinkStyle
{
	color: inherit;
	text-decoration: none;

	&:hover, &:visited, &:active
	{
		color: inherit;
		text-decoration: none;
	}
}

/* Top Navigation */
$topNavHeight: 40px;
#topNav
{
	height: $topNavHeight;

	ul
	{
		height: 100%;
		margin: 0;
		padding: 0 25px 0 0;

		li
		{
			display: block;
			height: 100%;
			float: left;
			margin: 0 5px 0 0;
			padding: 0;
			background-color: $themeColour;
			color: $themeContrastColour;

			a
			{
				@extend .noLinkStyle;
				font-size: 1.4em;
				padding: 10px 12px;
				vertical-align: middle;
				line-height: $topNavHeight;
			}
		}
	}
}